@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .5s linear;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h2:hover{ font-size: 3.0em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgba(247, 193, 86); }

header{
    background-color: rgb(0, 0, 0);
}

header .logo{
    padding: 25px 30px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover{
    color: rgb(254, 254, 1);
    font-size: 1.25em;
}

#resumenError .container{
    text-align: center;
    padding-top: 190px;
}

#resumenError .img-container{
    background-image: url("/img/ubuntuDañado.png");
    background-size: cover;
    background-position: center center;
    height: 518px;
    width: 518px;
}

#resumenError .texto{
    width: 100%;
    text-align: justify;
    padding: 0px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#canalYouTube .container{
    text-align: center;
    padding: 150px 12px;
}

#canalYouTube .img-container{
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#canalYouTube .img-container:hover{
    transform: perspective(900px) rotateY(15deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#canalYouTube .texto{
    width: 100%;
    text-align: justify;
    padding: 0px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer{
    background-color: rgb(0, 0, 0);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
}

.redessociales{
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #resumenError .container{
        display: flex;
        justify-content: space-evenly;
    }
    
    #resumenError .img-container:hover{
        height: 538px;
        width: 538px;
        transition:all .1s linear;
    }
    
    #resumenError .texto{
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    #canalYouTube .container{
        display: flex;
        justify-content: space-evenly;
    }

    #canalYouTube .img-container:hover{
        transform: perspective(900px) rotateY(15deg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    #canalYouTube .texto{
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {

    #resumenError .img-container:hover{
        height: 538px;
        width: 538px;
        transition:all .1s linear;
    }

    #canalYouTube .img-container:hover{
        transform: perspective(900px) rotateY(15deg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    footer .container{
        justify-items: center;
        justify-content: space-around;
    }
}