@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .5s linear;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h2:hover{ font-size: 3.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgba(247, 193, 86); }

header{
    background-color: rgb(0, 0, 0);
    
}

header .logo{
    padding: 25px 30px;
}

header .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover{
    color: rgb(254, 254, 1);
    font-size: 1.25em;
}

#errorLinux .container{
    text-align: center;
    padding: 200px 12px;
    height: 100%;
}

#errorLinux .img-container{
    background-image: url("/img/logoLinux.png");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media only screen and (min-width: 430px){
    #errorLinux .img-container{
        background-image: url("/img/logoLinux.png");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 484px;
        object-fit: cover;
    }
}

@media only screen and (min-width: 500px){
    #errorLinux .img-container{
        background-image: url("/img/logoLinux.png");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 580px;
        object-fit: cover;
    }
}

@media only screen and (min-width: 560px){
    #errorLinux .img-container{
        background-image: url("/img/logoLinux.png");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 640px;
        object-fit: cover;
    }
}

#errorLinux .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



footer{
    background-color: rgb(0, 0, 0);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
}

.redessociales{
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PANTALLA MEDIANAS */
@media only screen and (min-width: 650px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #errorLinux .container{
        display: flex;
        justify-content: space-evenly;
    }
    
    #errorLinux .img-container{
        background-image: url("/img/logoLinux.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }
    
    #errorLinux .img-container:hover{
        height: 550px;
        width: 450px;
        transition:all .1s linear;
    }
    

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-items: center;
        justify-content: space-around;
    }
}

/* PANTALLA GRANDES */
@media only screen and (min-width: 1100px){

    #errorLinux .img-container{
        background-image: url("/img/logoLinux.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }
    
    #errorLinux .img-container:hover{
        height: 550px;
        width: 450px;
        transition:all .1s linear;
    }
    
    footer{
        background-color: rgb(0, 0, 0);
        width: 100%;
    }

    footer .container{
        justify-items: center;
        justify-content: space-around;
        width: 100%;
    }
}